* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************GENERAL************/

.wrapper {
    height: 100vh;
    width: 100%;
    background-color: orange;
}

.form_holder {
    width: 336px;
    height: 532px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
