* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#site-holder {
    width: 100%;
    height: 100vh;
    /* background-color: yellow; */
}

header {
    height: 220px;
    background-color: #66b394;
    box-shadow: 0px 0px 10px 0px #000;
    position: relative;
}

header .header-logo {
    width: 500px;
    height: 150px;
    /* border: 1px solid #000; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
}

header .title-homework {
    position: absolute;
    left: 50%;
    top: 77%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.8);;
    font-size: 24pt;
    font-family: "Comic Sans MS";
}

/* header div {
    color: #fff;
    font-size: 40pt;
    position: absolute;
    border: 1px solid #000;
    width: 444px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} */

content {
    padding: 10px;
    /* background-color: #ccc; */
    width: 100%;
    position: absolute;
}

.homework-list {
    max-width: 500px;
    margin: 10px auto 0 auto;
    display: grid;
    grid-row-gap: 10px;
}

.homework-list > div {
    height: 50px;
    background-color: #66b394;
    border-radius: 10px;
    box-shadow: 0 0 8px -1px #000;
}

.homework-list > div:hover {
    background-color: #9dceba;
    cursor: pointer;
}

.homework-list > div a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 14pt;
}

footer {
    height: 30px;
    background-color: #66b394;
    margin-top: -30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
}