@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************GENERAL************/

html {
    scroll-behavior: smooth;
}

#wrapper {
    /* background-color: #ccc; */
    font-family: 'Poppins', sans-serif;
}

/************HEADER************/

.header {
    height: 800px;
    background-color: #0e0d1b;
    background-image: url(img/header/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-top: 300px;;
}

.header-top-bg {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 1;
    box-shadow: 0 0 10px -2px #000;
    transition: 500ms;
}

.sticky {
    position: fixed;
    transition: 500ms;
}

.header-top {
    /* background-color: #ccc; */
    height: 50px;
    width: 1100px;
    margin: 0 auto;
}

.header-top > div {
    /* border: 1px solid #fff; */
    height: 100%;
    float: left;
}

.logo-holder {
    width: 20%;
    /* background-color: orange; */
    text-align: left;
    line-height: 70px;
    font-size: 33pt;
    color: #fff;
}

.nav-holder {
    width: 80%;
    /* background-color: yellow; */
}

.nav-holder ul {
    list-style-type: none;
    float: right;
    /* background-color: #fff; */
    width: 500px;
    height: 50px;
    text-align: center;
    /* border: 1px solid #000; */
}

.nav-holder ul li {
    display: inline-block;
    line-height: 50px;
    text-align: center;
    margin-left: 32px;
}

.nav-holder ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 68px;
    display: block;
    font-size: 16pt;
}

.nav-holder ul li a:hover {
    color: #e71cb4;
    border-bottom: 2px solid #e71cb4;
}

.header h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    font-size: 60pt;
}

.header p {
    color: #fff;
    text-align: center;
    margin-bottom: 70px;
    font-size: 30pt;
}

.header .download-btn {
    margin: 0 auto;
    /* background-color: #fff; */
    width: 337px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    border-radius: 10px;
    border: 2px solid #fff;
    text-align: center;
    font-size: 16pt;
}

.header .download-btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

/************DESIGN-Battles************/

.design-battles {
    /* border: 1px solid #000; */
    width: 1100px;
    margin: 0 auto;
    min-height: 200px;
    padding-top: 148px;
    /* background-color: #ccc; */
}

.design-battles h1 {
    margin-bottom: 94px;
    font-size: 62pt;
    color: #e71cb4;
}

.design-battles p.description {
    margin-bottom: 136px;
    font-size: 22pt;
}

.design-battles .list-title {
    font-weight: bold;
    margin-bottom: 96px;
    font-size: 36pt;
}

.list-holder {
    /* background-color: orange; */
    min-height: 200px;
    margin-bottom: 86px;
    position: relative;
}

.list-holder > div {
    float: left;
    /* border: 1px solid #000; */
    height: 200px;
    width: 50%;
}

.list-left {
    /* background-color: #ffffb5; */
}

.list-right {
    /* background-color: yellow; */
}

.list-left > div,
.list-right > div {
    height: 66px;
    background-color: #fff;
    /* border: 1px solid #000; */
}

.list-left > div div,
.list-right > div div {
    float: left;
    height: 100%;
    /* border: 1px solid #000; */
}

.signs-holder {
    width: 100px;
}

.signs-holder > div {
    line-height: 66px;
}

.signs-holder > div:nth-child(1) {
    padding-left: 5px;
    font-weight: bold;
    font-size: 24pt;
    width: 22%;
}

.signs-holder > div:nth-child(2) {
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
    width: 78%;
}

.list-content {
    width: 444px;
    /* line-height: 66px; */
    padding-left: 5px;
    font-size: 17pt;
    color: #444;
}

.align-text-vertically-center-1 {
    line-height: 66px;
}

.align-text-vertically-center-2 {
    padding-top: 8px;
}

.numb-color-one {
    color: #ffde16;
}
.numb-color-two {
    color: #ffbd9e;
}
.numb-color-three {
    color: #20c9e0;
}
.numb-color-four {
    color: #2eac66;
}
.numb-color-five {
    color: #ff6179;
}
.numb-color-six {
    color: #ffde16;
}

p.txt-after-list {
    margin-bottom: 70px;
    font-size: 22pt;
}

.submissions {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 30pt;
}

.txt-af-subm {
    margin-bottom: 50px;
    font-size: 14pt;
}

.download-btn2 {
    height: 71px;
    width: 458px;
    line-height: 71px;
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    color: #fff;
    background-color: #c60ebe;
    border-radius: 10px;
    margin-bottom: 153px;
}

.download-btn2:hover {
    background-color: #f715eb;
    cursor: pointer;
}

/************COUNTDOWN************/

.countdown-holder-bg {
    background-image: url(img/countdown/gradient-bg.jpg);
    background-repeat: repeat-x;
}

.countdown {
    height: 1618px;
    width: 1100px;
    /* border: 1px solid #fff; */
    margin: 0 auto;
    padding-top: 50px;
    /* background-color: #fddfdf; */
    color: #fff;
}

.said-battles {
    text-align: center;
    margin-bottom: 58px;
    font-size: 62pt;
}

.txt-af-said {
    text-align: center;
    margin-bottom: 50px;
    font-size: 22pt;
    font-weight: 100;
}

.battles-grid-holder {
    height: 730px;
    width: 1070px;
    /* background-color: #ccc; */
    margin: 0 auto 50px auto;
}

.battles-grid-holder > div {
    /* border: 1px solid #000; */
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.battles-grid-holder div .grid-item {
    width: 290px;
    height: 355px;
    /* border: 1px solid #000; */
    padding-top: 5px;
}

.battles-grid-holder div .grid-item .item-bg {
    width: 263px;
    height: 263px;
    /* border: 1px solid red; */
    margin: 0 auto 8px auto;
}

.battles-grid-holder div:nth-child(1) .grid-item:nth-child(1) .item-bg {
    background-image: url(img/countdown/img1.png);
    background-repeat: no-repeat;
}
.battles-grid-holder div:nth-child(1) .grid-item:nth-child(2) .item-bg {
    background-image: url(img/countdown/img2.png);
    background-repeat: no-repeat;
}
.battles-grid-holder div:nth-child(1) .grid-item:nth-child(3) .item-bg {
    background-image: url(img/countdown/img3.png);
    background-repeat: no-repeat;
}
.battles-grid-holder div:nth-child(2) .grid-item:nth-child(1) .item-bg {
    background-image: url(img/countdown/img4.png);
    background-repeat: no-repeat;
}
.battles-grid-holder div:nth-child(2) .grid-item:nth-child(2) .item-bg {
    background-image: url(img/countdown/img5.png);
    background-repeat: no-repeat;
}
.battles-grid-holder div:nth-child(2) .grid-item:nth-child(3) .item-bg {
    background-image: url(img/countdown/img6.png);
    background-repeat: no-repeat;
}

.battles-grid-holder div .grid-item .item-sub {
    width: 280px;
    height: 70px;
    /* background-color: orange; */
    margin: 0 auto;
    padding-top: 5px;
}

.battles-grid-holder div .grid-item .item-sub h3 {
    text-align: center;
    margin-bottom: 10px;
}

.battles-grid-holder div .grid-item .item-sub p {
    text-align: center;
    font-size: 11pt;
}

.timer-title {
    text-align: center;
    margin-bottom: 65px;
    font-size: 62px;
}

.timer-holder {
    width: 850px;
    height: 160px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timer-holder > div {
    width: 160px;
    height: 160px;
    /* border: 1px solid #000; */
    padding-top: 7px;
}

.timer-holder > div:nth-child(1) {
    border: 1px solid #fff;
}
.timer-holder > div:nth-child(n+2) {
    background-color: rgba(0, 0, 0, 0.6);
}

.timer-holder .timer-time {
    font-weight: bold;
    text-align: center;
    font-size: 71pt;
    line-height: 113px;
}

.timer-holder .timer-sub {
    text-align: center;
    text-transform: uppercase;
}

/************SPONSORSHIP************/

.sponsorship {
    height: 430px;
    /* background-color: orange; */
    padding-top: 90px;
}

.sponsorship .sponsorship-title {
    text-align: center;
    margin-bottom: 77px;
    font-size: 52pt;
}

.sponsorship .sponsor-logo-holder {
    width: 1100px;
    height: 120px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    display: flex;
}

.sponsorship .sponsor-logo-holder div {
    /* border: 1px solid #000; */
    flex-grow: 1;
}

.sponsorship .sponsor-logo-holder div:nth-child(1) {
    background-image: url(img/sponsorship/clients-01.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.sponsorship .sponsor-logo-holder div:nth-child(2) {
    background-image: url(img/sponsorship/clients-02.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.sponsorship .sponsor-logo-holder div:nth-child(3) {
    background-image: url(img/sponsorship/clients-03.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.sponsorship .sponsor-logo-holder div:nth-child(4) {
    background-image: url(img/sponsorship/clients-04.png);
    background-position: center center;
    background-repeat: no-repeat;
}

/************JURY************/

.jury-holder {
    height: 780px;
    background-color: #ffe9eb;
    padding-top: 70px;
}

.jury-holder .jury-title {
    text-align: center;
    margin-bottom: 70px;
    font-size: 60pt;
}

.jury-photos {
    width: 1150px;
    height: 450px;
    /* border: 1px solid #000; */
    margin: 0 auto;
}

.jury-photos > div {
    float: left;
    width: 382px;
    height: 100%;
    /* border: 1px solid #000; */
}

.jury-photos .photo-holder {
    height: 360px;
    width: 360px;
    /* background-color: yellow; */
    border-radius: 50%;
    margin: 0 auto 20px auto;
}

.jury-photos div:nth-child(1) .photo-holder {
    background-image: url(img/jury/jury1.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.jury-photos div:nth-child(2) .photo-holder {
    background-image: url(img/jury/jury2.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.jury-photos div:nth-child(3) .photo-holder {
    background-image: url(img/jury/jury3.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.jury-photos .photo-sub-name {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18pt;
}

.jury-photos .photo-sub-job {
    text-align: center;
    font-size: 14pt;
}

/************CONTACT-US************/

.contact-section {
    height: 890px;
    background-color: #fff;
    padding-top: 30px;
}

.contact-section .contact-us-title {
    text-align: center;
    margin-bottom: 85px;
    font-size: 63pt;
}

.contact-section .contact-description {
    text-align: center;
    margin: 0 auto 80px auto;
    font-size: 22pt;
    width: 752px;
}

.contact-section .contact-form-holder {
    width: 645px;
    height: 420px;
    /* background-color: #ccc; */
    margin: 0 auto;
}

.contact-section .contact-form-holder input::placeholder {
    font-size: 13pt;
    font-family: 'Times New Roman', Times, serif;
}

.contact-section .contact-form-holder > div {
    /* border: 1px solid #000; */
}

.contact-section .contact-form-holder > div:nth-child(-n+2) {
    height: 140px;
    width: 50%;
    float: left;
    display: flex;
    flex-flow: column;
    /* background-color: red; */
}

.contact-form-holder div:nth-child(1) .first-name,
.contact-form-holder div:nth-child(1) .email,
.contact-form-holder div:nth-child(2) .last-name,
.contact-form-holder div:nth-child(2) .web-site {
    height: 50%;
    /* background-color: yellow; */
    /* border: 1px solid #000; */
    padding: 5px;
    display: flex;
    align-items: center;
}

.contact-section .contact-form-holder > div:nth-child(-n+2) input {
    width: 100%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #000;
    font-size: 13pt;
}

.contact-section .contact-form-holder > div:nth-child(-n+2) input:focus {
    outline: none;
}

.contact-section .contact-form-holder div:nth-child(3) {
    height: 140px;
    width: 100%;
    /* background-color: orange; */
    float: left;
}

.contact-section .contact-form-holder div:nth-child(4) {
    height: 140px;
    width: 100%;
    float: left;
    /* background-color: #fff; */
    padding: 5px;
}

.contact-section .contact-form-holder div:nth-child(4) input {
    width: 100%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #000;
    font-size: 13pt;
}

.contact-section .contact-form-holder div:nth-child(4) input:focus {
    outline: none;
}

.contact-section .contact-form-holder div:nth-child(4) .btn-send-message {
    width: 150px;
    height: 50px;
    background-color: #555;
    text-align: center;
    line-height: 50px;
    color: #fff;
    margin: 30px 10px 0 auto;
}

.contact-section .contact-form-holder div:nth-child(4) .btn-send-message:hover {
    cursor: pointer;
    background-color: #666;
}

/************NEWSLETTER************/

.newsletter-section {
    height: 480px;
    background-color: #eee;
    padding-top: 75px;
}

.newsletter-section .newsletter-title {
    text-align: center;
    margin-bottom: 45px;
    font-size: 36pt;
}

.newsletter-section .newsletter-sub {
    text-align: center;
    margin-bottom: 26px;
    font-size: 16pt;
}

.newsletter-section .subscribe-holder {
    width: 550px;
    height: 60px;
    margin: 0 auto 85px auto;
    /* background-color: orange; */
}

.newsletter-section .subscribe-holder > div {
    /* border: 1px solid #000; */
    float: left;
    height: 100%;
}

.newsletter-section .subscribe-holder > div:nth-child(1) {
    width: 408px;
    padding-right: 5px;
}

.newsletter-section .subscribe-holder > div:nth-child(1) input {
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    padding-left: 20px;
    font-size: 14pt;
}

.newsletter-section .subscribe-holder > div:nth-child(1) input::placeholder {
    font-size: 14pt;
}

.newsletter-section .subscribe-holder > div:nth-child(1) input:focus {
    outline: none;
}

.newsletter-section .subscribe-holder .subscribe-btn {
    width: 140px;
    line-height: 60px;
    text-align: center;
    background-color: #c60ebe;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
    font-size: 15pt;
}

.newsletter-section .subscribe-holder .subscribe-btn:hover {
    cursor: pointer;
    background-color: #e61cdb;
}

.social-holder {
    width: 280px;
    height: 72px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-holder > div {
    /* border: 1px solid #000; */
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.social-holder > div:nth-child(1) {
    background-image: url(img/newsletter/twitter1.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.social-holder > div:nth-child(2) {
    background-image: url(img/newsletter/dribbble2.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.social-holder > div:nth-child(3) {
    background-image: url(img/newsletter/instagram3.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.social-holder > div:nth-child(4) {
    background-image: url(img/newsletter/pinterest4.png);
    background-repeat: no-repeat;
    background-position: center center;
}

/************EXTRAS************/

.scroll-up-btn {
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 50px;
    position: fixed;
    top: 100%;
    left: 100%;
    transform: translate(-130%, -120%);
    z-index: 1;
}

.scroll-up-btn:hover {
    cursor: pointer;
}