* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 10px;
}

.title {
  text-align: center;
  margin-bottom: 35px;
}

.conditions {
  width: 500px;
  min-height: 200px;
  /* border: 1px solid #000; */
  margin: 0 auto 70px;
  border-radius: 15px;
  box-shadow: 0 8px 30px -15px #000;
  padding: 10px;
}

.login {
  width: 200px;
  height: 70px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 300ms;
  box-shadow: 0 8px 30px -15px #000;
}

.login:hover {
  background-color: orange;
  box-shadow: none;
}
