* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #bebebe; */
}

/************general************/

.title {
    height: 70px;
    background-color: orange;
    margin-bottom: 10px;
    box-shadow: 2px 0 10px -2px #000;
}

.title h1 {
    text-transform: uppercase;
    text-align: center;
    line-height: 70px;
    color: orange;
    text-shadow: 0 0 3px #000;
    letter-spacing: 10px;
    font-size: 28pt;
}

#wrapper {
    max-width: 1000px;
    /* height: 700px; */
    /* background-color: #fff; */
    margin: 0 auto;
    padding: 10px;
}

#wrapper > div,
#wrapper > section {
    border-radius: 10px;
    margin-bottom: 10px;
}

.ba-header,
.ba-box {
    height: 100px;
    background-color: #00c000;
}

.ba-group {
    height: 150px;
    background-color: #a8a8a8;
    padding: 10px;
}

.ba-group aside {
    border-radius: 10px;
}

.ba-left {
    width: 68%;
    float: left;
    height: 100%;
    background-color: orange;
}
.ba-right {
    width: 30%;
    float: right;
    height: 100%;
    background-color: orange;
}

.col-holder {
    display: flex;
    justify-content: space-between;
}

.ba-col {
    height: 100px;
    background-color: #00c000;
    width: 31%;
    border-radius: 10px;
}

.ba-footer {
    height: 150px;
    background-color: #00c000;
}