* {
    margin: 0;
    padding: 0;
    transition: all .2s ease-in;
}

body {
    font-family: Tebuchet MCâ€, Tebuchet, Arial, sans-serif;
}

#primary-block {
    border: 20px solid #fff;
    height: 100vh;
    background-color: #3B3F45;
    box-sizing: border-box;
}

/*****************HEADER*****************/

header {
    background-color: #4A4F56;
    height: 122px;
    color: #EB7E7F;
    position: relative;
    text-align: center;
}

header h1 {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    font-size: 2.5em;
    width: 474px;
}

header span {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    font-size: 21px;
}

/*****************LIST*****************/

.list {
    width: 50%;
    background-color: #88839E;
    /* height: 500px; */
    margin: 30px auto 30px auto;
}

.list ul {
    
    /* padding-inline-start: 40px; */
}

.list ul li {
    min-height: 44px;
    list-style-type: none;
    /* line-height: 44px; */
}

.list ul li:nth-child(even) {
    background-color: #7A7593;
}

.list ul li:hover {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    background-color: #625E77;
    cursor: pointer;
}

.list ul li:active {
    background-color: #EB7E7F;
}

.list ul li label {
    display: block;
    min-height: 44px;
    padding-left: 18px;
    position: relative;
    /* line-height: 44px; */
}

.list ul li label:hover {
    cursor: pointer;
}

.list ul li label input {
    margin-top: 15px;
    position: absolute;
    cursor: pointer;
}

.primary {
    margin-left: 30px;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    margin-block-start: 0.5em;
}

.secondary::before {
    content: " ( ";
}
.secondary::after {
    content: " ) "
}

.secondary {
    font-size: 14px;
    color: #C5BDC3;
    position: absolute;
    margin-left: 8px;
    margin-block-start: 1em;
}

.list ul li input[type="checkbox"]:checked ~ span {
    color: #A49EB2;
	text-decoration: line-through;
}

/* .list div {
    min-height: 47px;
    display: flex;
}

.list > div:hover {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    cursor: pointer;
}

.list > div:nth-child(even) {
    background-color: #7A7593;
}

.list div .checkbox-holder {
    display: flex;
    align-items: center;
    width: 60px;
    justify-content: center;
}

#checkbox {
    font-size: 20px;
}

.list div .item-holder {
    width: 100%;
    padding-left: 6px;
    display: inline-block;
}

.list div .item-holder span:nth-child(1) {
    text-align: -webkit-match-parent;
    display: inline-block;
    margin-block-start: 0.7em;
    color: #fff;
    font-size: 20px;
}

.list div .item-holder span:nth-child(2) {
    margin-block-start: 0.6em;
    margin-block-end: 1em;
    color: #C5BDC3;
    font-size: 14px;
} */

/*****************FOOTER*****************/

footer {
    width: 50%;
    height: 54px;
    color: #EB7E7F;
    background-color: #4A4F56;
    margin: 0 auto;
    font-size: 21px;
    text-align: center;
    line-height: 54px;
}