* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 400ms;
}

body {
    font-family: Tebuchet MCâ€, Tebuchet, Arial, sans-serif;
}

#primary-block {
    border: 20px solid #fff;
    height: 100vh;
    background-color: #3B3F45;
}

/*****************HEADER*****************/

header {
    background-color: #4A4F56;
    height: 122px;
    color: #EB7E7F;
    position: relative;
    text-align: center;
}

header h1 {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    font-size: 2.5em;
    width: 474px;
}

header span {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    font-size: 21px;
}

/*****************LIST*****************/

.list {
    width: 50%;
    background-color: #88839E;
    /* height: 500px; */
    margin: 30px auto 30px auto;
}

.list div {
    min-height: 47px;
    /* border: 1px solid black; */
    display: flex;
}

.list > div:hover {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    cursor: pointer;
}

.list > div:nth-child(even) {
    background-color: #7A7593;
}

.list div .checkbox-holder {
    display: flex;
    align-items: center;
    width: 60px;
    justify-content: center;
    /* background-color: #ccc; */
}

#checkbox {
    font-size: 20px;
}

.list div .item-holder {
    width: 100%;
    /* background-color: yellow; */
    padding-left: 6px;
    display: inline-block;
}

.list div .item-holder span:nth-child(1) {
    /* background-color: red; */
    text-align: -webkit-match-parent;
    display: inline-block;
    margin-block-start: 0.7em;
    /* margin-block-end: 1em; */
    color: #fff;
    font-size: 20px;
}

.list div .item-holder span:nth-child(2) {
    margin-block-start: 0.6em;
    margin-block-end: 1em;
    color: #C5BDC3;
    font-size: 14px;
}

/*****************FOOTER*****************/

footer {
    width: 50%;
    height: 54px;
    color: #EB7E7F;
    background-color: #4A4F56;
    margin: 0 auto;
    font-size: 21px;
    text-align: center;
    line-height: 54px;
}