* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************BG************/

.bg {
    background: 
        radial-gradient(ellipse at top, #e66465, transparent),
        radial-gradient(ellipse at bottom, #4d9f0c, transparent);
    height: 100vh;
    animation: animateGradient 10s linear infinite;
}

/************HEADER************/

.header {
    padding-top: 50px;
}

.header h1 {
    text-align: center;
    font-size: 50pt;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 10px;
    color: #fff;
}

.header p {
    text-align: center;
    width: 100%;
    font-style: italic;
    font-size: 20pt;
    color: #fff;
}

/************WRAPPER************/

.wrapper {
    width: 940px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper > div {
    /* border: 1px solid #000; */
    background-color: orange;
    width: 436px;
    height: 249px;
    box-shadow: 0 5px 40px -3px #000;
    transition: all 400ms;
    border-radius: 10px;
}

.wrapper > div:hover {
    box-shadow: none;
    transform: scale(0.97);
    cursor: pointer;
}

.wrapper > div:first-child {
    float: left;
    background-image: url(img/nike-dark.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.wrapper > div:nth-child(2) {
    float: right;
    background-image: url(img/nike-white.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

/************LEFT-SLIDE************/

.dark {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1;
    transition: all 1000ms;
    transform: translateX(-100%);
    background-image: url(img/dark/dark-bg.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
}

.dark_card {
    width: 686px;
    height: 391px;
    background-color: #111a28;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px -5px #000;
    overflow: hidden;
    display: flex;
}

.card_left {
    width: 445px;
    height: 100%;
    /* border: 1px solid #fff; */
}

.dark_logo {
    width: 110px;
    height: 70px;
    /* border: 1px solid #fff; */
    background-image: url(img/dark/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    position: relative;
    top: 10px;
    left: 10px;
    margin-bottom: 50px;
}

.dark_shoe {
    height: 159px;
    width: 329px;
    margin: 0 auto;
    background-image: url(img/dark/dark_shoe.png);
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(1.3);
}

.color_pickers {
    width: 70px;
    height: 18px;
    /* border: 1px solid #fff; */
    margin: 0 auto;
    position: relative;
    top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color_pickers > div {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.color_pickers > div:hover {
    cursor: pointer;
    border: 1px solid #ccc;
    transform: scale(1.6);
}

.color_pickers > div:nth-child(1) {
    background-color: #303c5f;
    border: 1px solid #ccc;
    transform: scale(1.6);
}
.color_pickers > div:nth-child(3) {
    background-color: #ed3333;
}
.color_pickers > div:nth-child(4) {
    background-color: #29e3ea;
}

.card_right {
    height: 100%;
    width: 241px;
    /* border: 1px solid #fff; */
    padding-top: 50px;
}

.dark_title {
    color: #e1e1e1;
    font-size: 24pt;
    margin-bottom: 10px;
    font-weight: 100;
}

.dark_subtitle {
    color: #575d66;
    font-size: 14pt;
    margin-bottom: 25px;
}

.rating {
    width: 85px;
    height: 20px;
    /* background-color: #fff; */
    /* border: 1px solid #fff; */
    display: flex;
    padding-top: 0;
    margin-bottom: 25px;
}

.rating > div {
    height: 100%;
    width: 16px;
    /* border: 1px solid #000; */
    color: #fff;
    margin-top: -5px;
    cursor: pointer;
}

.rating .star_active {
    color: #f7bf16;
}

.rating:hover > div {
    color: #f7bf16;
}

.rating > div:hover ~ div {
    cursor: pointer;
    color: #fff;
}

.measurements {
    margin-bottom: 30px;
}

.measurements select {
    width: 70px;
    height: 30px;
    background-color: transparent;
    border-radius: 0px;
    border: 1px solid #797d84;
    color: #797d84;
}

.measurements select option {
    width: 50px;
}

.measurements select:focus {
    outline: none;
}

.dark_addCardBtn {
    width: 184px;
    height: 40px;
    border: 2px solid #4f5560;  
    background-color: #202835;
}

.dark_addCardBtn p {
    color: #80848b;
    text-align: center;
    line-height: 37px;
}

.dark_addCardBtn:hover {
    cursor: pointer;
    background-color: #2f3b4e;
}

/************RIGHT-SLIDE************/

.white {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1;
    transition: all 1000ms;
    transform: translateX(100%);
    background-image: url(img/white/white-bg.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
}

/************SLIDES-GENERAL************/

.close-btn {
    width: 39px;
    height: 39px;
    border-radius: 5px;
    /* border: 1px solid #fff; */
    position: absolute;
    left: 100%;
    top: 10px;
    transform: translateX(-50px);
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 300ms;
}

.close-btn:hover {
    cursor: pointer;
    background-color: #fff;
}

.close-btn:hover > div {
    background-color: #000;
}

.close-btn > div {
    width: 2px;
    height: 38px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms;
}

.close-btn > div:nth-child(1) {
    transform: rotate(45deg);
    top: 0;
}
.close-btn > div:nth-child(2) {
    transform: rotate(-45deg);
    top: 0;
}

.show {
    transform: translateX(0%);
}

/************ANIMATIONS************/

@keyframes animateGradient {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}