/********FONTS********/
@import url(https://fonts.googleapis.com/css?family=Aleo|Josefin+Sans:400,700);
/********GENERAL********/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/********HEADER********/
.header {
  height: 100vh;
  border: 1px solid #000;
  padding-top: 40px;
  position: relative;
  background-image: url(img/header/header_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_content {
  width: 1170px;
  margin: 0 auto;
}

.header_top {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_top .top_logo {
  width: 250px;
  height: 100%;
  background-image: url(img/header/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.header_top .top_nav {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_item a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.nav_item:hover {
  list-style: circle;
}

.top_social {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_social .social_item {
  height: 40px;
  width: 40px;
  border: 1px solid #ad99fc;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 40px;
}

.top_social .social_item:hover {
  cursor: pointer;
}

.header_middle {
  height: 135px;
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header_middle .header_title {
  text-transform: uppercase;
  text-align: center;
  font-size: 80px;
  letter-spacing: 0.050em;
  margin-bottom: 10px;
  color: #fff;
}

.header_middle .header_subtitle {
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.300em;
  text-transform: uppercase;
  color: #fff;
}

.scroll_down {
  height: 60px;
  width: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  line-height: 63px;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
}

/********WHATWEDO********/
.whatwedo {
  height: 1633px;
  padding-top: 100px;
}

.whatwedo_content {
  width: 1170px;
  margin: 0 auto;
}

.whatwedo_content .whatwedo_line {
  width: 100px;
  height: 1px;
  background-color: #000;
  margin: 0 auto 43px;
}

.whatwedo_content .whatwedo_title {
  text-align: center;
  font-size: 44px;
  text-transform: uppercase;
  color: #2c4058;
  margin-bottom: 170px;
}

.whatwedo_content .whatwedo_trade {
  height: 470px;
  border: 1px solid red;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 630px 500px;
      grid-template-columns: 630px 500px;
  grid-column-gap: 39px;
  position: relative;
  margin-bottom: 210px;
}

.whatwedo_content .whatwedo_trade > div {
  border: 1px solid #000;
}

.trade_blue {
  height: 100%;
  width: 4000px;
  position: absolute;
  left: -309%;
  top: -70px;
  background-color: blue;
}

.trade_left {
  background-color: #fff;
  z-index: 1;
  background-image: url(img/whatwedo/trade_left.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.trade_right,
.commerce_left {
  padding-top: 55px;
  color: #2c4058;
}

.trade_right .trade_uptitle,
.trade_right .commerce_uptitle,
.commerce_left .trade_uptitle,
.commerce_left .commerce_uptitle {
  font-size: 22px;
  text-transform: uppercase;
}

.trade_right .trade_title,
.trade_right .commerce_title,
.commerce_left .trade_title,
.commerce_left .commerce_title {
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.trade_right .trade_text,
.trade_right .commerce_text,
.commerce_left .trade_text,
.commerce_left .commerce_text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

.trade_right .trade_btn,
.trade_right .commerce_btn,
.commerce_left .trade_btn,
.commerce_left .commerce_btn {
  width: 190px;
  height: 50px;
  border: 1px solid #2c4058;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 60px;
}

.trade_right .trade_location,
.trade_right .commerce_location,
.commerce_left .trade_location,
.commerce_left .commerce_location {
  font-size: 18px;
  font-style: italic;
}

.trade_right .trade_location span,
.trade_right .commerce_location span,
.commerce_left .trade_location span,
.commerce_left .commerce_location span {
  margin-right: 10px;
}

.whatwedo_commerce {
  height: 470px;
  border: 1px solid red;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 630px;
      grid-template-columns: 500px 630px;
  grid-column-gap: 39px;
  position: relative;
}

.whatwedo_commerce > div {
  border: 1px solid #000;
}

.commerce_blue {
  height: 100%;
  width: 4000px;
  position: absolute;
  left: 68%;
  top: -70px;
  background-color: blue;
}

.commerce_right {
  z-index: 1;
  background-color: #fff;
  background-image: url(img/whatwedo/commerce_right.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/********NEWS********/
.news {
  height: 1035px;
  background-image: url(img/news/news_bg.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px;
}

.news .news_line {
  width: 100px;
  height: 1px;
  background-color: #fff;
  margin: 0 auto 40px;
}

.news .news_title {
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 0.0100em;
  text-align: center;
  color: #fff;
  margin-bottom: 95px;
}

.news .news_gallery {
  height: 515px;
  border: 1px solid #fff;
  width: 1170px;
  margin: 0 auto;
}

/********GALLERY********/
.gallery {
  height: 1000px;
  padding-top: 140px;
}

.gallery .gallery_line {
  width: 100px;
  height: 1px;
  background-color: #2c4058;
  margin: 0 auto 40px;
}

.gallery .gallery_title {
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 0.0100em;
  text-align: center;
  color: #2c4058;
  margin-bottom: 95px;
}

.gallery .gallery_gallery {
  height: 440px;
  border: 1px solid #000;
  width: 1170px;
  margin: 0 auto 60px;
}

.gallery .gallery_btn {
  width: 190px;
  height: 50px;
  border: 1px solid #2c4058;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 60px;
  margin: 0 auto;
}

/********GMAP********/
.gmap {
  height: 700px;
}

/********FOOTER********/
.footer {
  height: 525px;
  background-image: url(img/footer/footer_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
}

.footer_content {
  width: 770px;
  height: 80px;
  border: 1px solid #fff;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */