/********FONTS********/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,500|Roboto:400,900);
/********GENERAL********/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  padding-top: 30px;
}

.wrapper_title {
  border: 1px solid #fff;
  text-align: center;
  margin: 0 auto;
}

/********TITLE********/
.title_one {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 18px;
  color: #898f8f;
}

.title_two {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  line-height: 66px;
  font-size: 60px;
  color: #ffcc00;
  margin-bottom: 20px;
}

.title_devider {
  height: 17px;
  width: 550px;
  margin: 0 auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title_devider .fas {
  margin: 0 10px;
  color: #ffcc00;
}

.title_devider .devider_line {
  height: 2px;
  width: 210px;
  background-color: #ffcc00;
}

/********BODY********/
.wrapper_body {
  height: 560px;
  width: 1005px;
  margin: 0 auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper_body .body_left,
.wrapper_body .body_right {
  width: 422px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper_body .body_devider {
  width: 2px;
  background-color: #ffcc00;
}

.arrow {
  width: 30px;
  height: 40px;
  position: absolute;
  font-size: 40px;
  color: #ffcc00;
  text-align: center;
  line-height: 35px;
}

.arrow:hover {
  cursor: pointer;
}

.arrow_left {
  left: -80px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow_right {
  left: 100%;
  margin-left: 80px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.left_content {
  height: 420px;
  width: 100%;
  background-image: url(img/left_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.right_content {
  height: 400px;
  width: 100%;
}

.right_content .right_title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #666666;
  margin-bottom: 30px;
}

.right_content .right_devider {
  width: 100px;
  height: 2px;
  background-color: #ffcc00;
  margin: 0 auto 20px;
}

.right_content .right_name {
  font-family: "Raleway", sans-serif;
  font-weight: regular;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

.right_social {
  width: 140px;
  height: 30px;
  margin: 0 auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right_social .social_item {
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  text-align: center;
  color: #ccc;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.right_social .social_item i {
  line-height: 27px;
}

.right_social .social_item:hover {
  cursor: pointer;
  color: #000;
}

.right_text {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: medium;
  color: #333;
  margin-bottom: 20px;
}

.right_boxes {
  width: 50px;
  height: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 30px;
}

.right_boxes .box_item:nth-child(1),
.right_boxes .box_item:nth-child(3) {
  width: 10px;
  height: 100%;
  background-color: #ffcc00;
}

.right_boxes .box_item:nth-child(2) {
  width: 20px;
  background-color: #ffcc00;
}

.right_btn {
  width: 120px;
  height: 24px;
  border: 2px solid #ffcc00;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #666;
}

.right_btn:hover {
  cursor: pointer;
}

.dots_holder {
  width: 50px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 30px;
}

.dots_holder .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffcc00;
}

.dots_holder .dot:hover {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border: 2px solid #ffcc00;
  background-color: #fff;
}

.dots_holder .dot.active {
  width: 12px;
  height: 12px;
  border: 2px solid #ffcc00;
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */